.logo {
  height: 55px;
}

.navbar-top {
  border-top: 4px #7db820 solid;
  background-color: #fff;
  height: 72px;
  padding: 0;
}

.navbar-top .navbar-brand {
  color: #0b496b;
  font-size: 24px;
  font-style: italic;
}

.navbar-top .navbar-collapse {
  background: #fff;
  z-index: 2;
  vertical-align: super;
}

.navbar-nav {
  align-items: center;
}

.nav-spacer {
  width: 1px;
  background: #d3d3d3;
  height: 24px;
  margin-right: 130px;
}

.nav-icon {
  color: #d8dcdf;
}

.nav-link {
  color: #909ca6;
}

.navbar-bottom {
  background-color: #264a75;
  padding: 0;
}

.navbar-bottom .nav-link {
  color: #c8dcec;
  font-size: 14px;
  font-weight: 600;
  height: 46px;
  align-items: center;
  display: flex;
}

.navbar-bottom .nav-link:hover {
  color: #fff;
  background-color: #22426a;
}

.navbar-bottom .nav-link.active {
  color: #fff;
  background-color: #22426a;
}

.navbar-bottom .nav-link .nav-icon {
  font-size: 18px;
  color: #10253c;
}

.navbar-bottom .nav-link.active .nav-icon {
  color: #fff;
}

.alert-badge {
  background-color: #fefefc;
  width: 18px;
  height: 16px;
  border-radius: 50%;
  display: inline-grid;
  align-items: center;
  color: #10253c;
  font-size: 10px;
  text-align: center;
  position: relative;
  top: 7px;
  right: -9px;
}
